# Combined work for Punkin Punks ETL Project

### Extract Data

In [1]:
# Import dependencies
import pymongo
import pandas as pd

In [2]:
#Import all csv's into DataFrames
happiness_df = pd.read_csv('Resources/world_happiness_2019.csv')
gdp_df = pd.read_csv('Resources/wb_gdp.csv')
inflation_df = pd.read_csv('Resources/wb_inflation.csv')
savings_df = pd.read_csv('Resources/wb_gross_savings.csv')

In [3]:
#Display happiness_df
happiness_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [4]:
#Delete columns we don't need
del happiness_df['Overall rank']
del happiness_df['GDP per capita']
del happiness_df['Social support']
del happiness_df['Healthy life expectancy']
del happiness_df['Freedom to make life choices']
del happiness_df['Generosity']
del happiness_df['Perceptions of corruption']

In [5]:
#Display gdp_df
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993280,24713.698050,26189.435510,26647.938100,27980.880700,28281.350480,29007.693000,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,591.162759,641.871479,637.165523,613.856689,578.466353,509.218661,519.884773,493.750418,507.103432,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2790.726615,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5353.244856,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328860,38686.461260,39538.766720,41303.929370,35762.523070,37474.665410,38962.880350,41793.055260,40886.391160,NaN

In [6]:
#Keep only Country name and 2019
gdp_df = gdp_df[['Country Name', '2019']]

#Rename Columns
gdp_df.rename(columns={'2019': 'GDP'}, inplace=True)

#Drop all null values
gdp_df = gdp_df.dropna()

In [7]:
#Display inflation_df
inflation_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN
1,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,11.804186,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN
2,Angola,AGO,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,NaN
3,Albania,ALB,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.429123,2.031596,1.937618,1.625865,1.896174,1.275432,1.986661,2.028060,1.411091,NaN
4,Andorra,AND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Keep only Country name and 2019
inflation_df = inflation_df[['Country Name', '2019']]

#Rename Columns
inflation_df.rename(columns={'2019': 'Inflation'}, inplace=True)

#Drop all null values
inflation_df = inflation_df.dropna()

In [9]:
savings_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Gross savings (% of GDP),NY.GNS.ICTR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.698072,1.888913,4.965456,9.543736,14.293381,15.190107,14.736893,NaN,NaN,NaN
1,Afghanistan,AFG,Gross savings (% of GDP),NY.GNS.ICTR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Gross savings (% of GDP),NY.GNS.ICTR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.888550,37.232999,32.029882,29.966722,25.021327,24.429248,23.351946,25.173194,23.322420,NaN
3,Albania,ALB,Gross savings (% of GDP),NY.GNS.ICTR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.543716,19.630820,17.741123,15.937243,16.857119,17.053326,16.546645,16.811770,14.020517,NaN
4,Andorra,AND,Gross savings (% of GDP),NY.GNS.ICTR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Keep only Country name and 2019
savings_df = savings_df[['Country Name', '2019']]

#Rename Columns
savings_df.rename(columns={'2019': 'Savings'}, inplace=True)

#Drop all null values
savings_df = savings_df.dropna()

In [11]:
#Export all cleaned dfs back to the resources folder
happiness_df.to_csv(r'Resources/clean_happiness.csv')
gdp_df.to_csv(r'Resources/clean_gdp.csv')
inflation_df.to_csv(r'Resources/clean_inflation.csv')
savings_df.to_csv('Resources/clean_savings.csv')

### Transform Data

In [12]:
# Read in clean csv files
clean_gdp_df = pd.read_csv('Resources/clean_gdp.csv');
clean_happiness_df = pd.read_csv('Resources/clean_happiness.csv');
clean_inflation_df = pd.read_csv('Resources/clean_inflation.csv');
clean_savings_df = pd.read_csv('Resources/clean_savings.csv');

In [13]:
# Delete index column
del clean_gdp_df['Unnamed: 0']
clean_gdp_df.head()

  Country Name           GDP
0  Afghanistan    507.103432
1       Angola   2790.726615
2      Albania   5353.244856
3      Andorra  40886.391160
4   Arab World   6584.740241

In [14]:
# Delete index column and rename Country or region column
del clean_happiness_df['Unnamed: 0']
clean_happiness_df.rename(columns = {'Country or region': 'Country Name'}, inplace = True)
clean_happiness_df.head()

  Country Name  Score
0      Finland  7.769
1      Denmark  7.600
2       Norway  7.554
3      Iceland  7.494
4  Netherlands  7.488

In [15]:
# Delete index column
del clean_inflation_df['Unnamed: 0']
clean_inflation_df.head()

  Country Name  Inflation
0        Aruba   4.257462
1  Afghanistan   2.302373
2       Angola  17.081215
3      Albania   1.411091
4   Arab World   1.048834

In [16]:
# Delete index column
del clean_savings_df['Unnamed: 0']
clean_savings_df.head()

  Country Name    Savings
0       Angola  23.322420
1      Albania  14.020517
2    Argentina  15.796363
3      Armenia  10.241489
4    Australia  22.465832

In [17]:
# Join all dataframes to one table
world_wellbeing_df = pd.merge(clean_happiness_df, clean_gdp_df, how = 'left', on = 'Country Name')
world_wellbeing_df = pd.merge(world_wellbeing_df, clean_savings_df, how = 'left', on = 'Country Name')
world_wellbeing_df = pd.merge(world_wellbeing_df, clean_inflation_df, how = 'left', on = 'Country Name')
world_wellbeing_df.head()

  Country Name  Score          GDP    Savings  Inflation
0      Finland  7.769  48782.78848  24.075989   1.024094
1      Denmark  7.600  60170.34264  31.540895   0.758132
2       Norway  7.554  75419.63487  33.269058   2.167730
3      Iceland  7.494  66944.83308  26.001812   3.013972
4  Netherlands  7.488  52331.31673  31.228375   2.633699

In [18]:
# Save new datafram to csv file
world_wellbeing_df.to_csv('Resources/world_wellbeing_2019.csv', index = False)

### Load to Mongo

In [19]:
# read in csv file
world_wellbeing = pd.read_csv("Resources/world_wellbeing_2019.csv")
world_wellbeing.head()

  Country Name  Score          GDP    Savings  Inflation
0      Finland  7.769  48782.78848  24.075989   1.024094
1      Denmark  7.600  60170.34264  31.540895   0.758132
2       Norway  7.554  75419.63487  33.269058   2.167730
3      Iceland  7.494  66944.83308  26.001812   3.013972
4  Netherlands  7.488  52331.31673  31.228375   2.633699

In [20]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# create mongo database
db = client.world_facts_db

# Declare the collection
facts = db.world_facts_db

In [21]:
# Loop through dataframe and load to Mongo Database
for index,row in world_wellbeing.iterrows():
    post = {"Country": world_wellbeing.loc[index,"Country Name"],
            "Happiness": world_wellbeing.loc[index,"Score"],
            "GDP": world_wellbeing.loc[index,"GDP"],
            "Savings": world_wellbeing.loc[index,"Savings"],
            "Inflation": world_wellbeing.loc[index,"Inflation"]
           }
    
    facts.insert_one(post)

In [22]:
# Verify results:
results = facts.find()
for result in results:
    print(result)

{'_id': ObjectId('60563389cf04529f82c655ab'), 'Country': 'Finland', 'Happiness': 7.769, 'GDP': 48782.78848, 'Savings': 24.07598874, 'Inflation': 1.02409393}
{'_id': ObjectId('60563389cf04529f82c655ac'), 'Country': 'Denmark', 'Happiness': 7.6, 'GDP': 60170.342639999995, 'Savings': 31.54089473, 'Inflation': 0.758131573}
{'_id': ObjectId('60563389cf04529f82c655ad'), 'Country': 'Norway', 'Happiness': 7.5539999999999985, 'GDP': 75419.63487000001, 'Savings': 33.26905809, 'Inflation': 2.1677300330000002}
{'_id': ObjectId('60563389cf04529f82c655ae'), 'Country': 'Iceland', 'Happiness': 7.494, 'GDP': 66944.83308, 'Savings': 26.00181209, 'Inflation': 3.013971792}
{'_id': ObjectId('60563389cf04529f82c655af'), 'Country': 'Netherlands', 'Happiness': 7.487999999999999, 'GDP': 52331.31673, 'Savings': 31.22837487, 'Inflation': 2.633699102}
{'_id': ObjectId('60563389cf04529f82c655b0'), 'Country': 'Switzerland', 'Happiness': 7.48, 'GDP': 81993.72713, 'Savings': 35.32536578, 'Inflation': 0.362916005}
{'_id': ObjectId('60563389cf04529f82c655b1'), 'Country': 'Sweden', 'Happiness': 7.343, 'GDP': 51615.02065, 'Savings': 29.42997894, 'Inflation': 1.7841509740000001}
{'_id': ObjectId('60563389cf04529f82c655b2'), 'Country': 'New Zealand', 'Happiness': 7.307, 'GDP': 42084.35337, 'Savings': nan, 'Inflation': 1.6196319019999998}
{'_id': ObjectId('60563389cf04529f82c655b3'), 'Country': 'Canada', 'Happiness': 7.278, 'GDP': 46194.725230000004, 'Savings': 19.89560352, 'Inflation': 1.9492690240000001}
{'_id': ObjectId('60563389cf04529f82c655b4'), 'Country': 'Austria', 'Happiness': 7.246, 'GDP': 50137.66278, 'Savings': 28.47421897, 'Inflation': 1.5308955340000001}
{'_id': ObjectId('60563389cf04529f82c655b5'), 'Country': 'Australia', 'Happiness': 7.228, 'GDP': 55060.3261, 'Savings': 22.4658318, 'Inflation': 1.6107678730000001}
{'_id': ObjectId('60563389cf04529f82c655b6'), 'Country': 'Costa Rica', 'Happiness': 7.1670000000000025, 'GDP': 12243.81143, 'Savings': 14.21580488, 'Inflation': 2.096202566}
{'_id': ObjectId('60563389cf04529f82c655b7'), 'Country': 'Israel', 'Happiness': 7.138999999999999, 'GDP': 43592.08358, 'Savings': 24.74969728, 'Inflation': 0.841596534}
{'_id': ObjectId('60563389cf04529f82c655b8'), 'Country': 'Luxembourg', 'Happiness': 7.09, 'GDP': 114704.5942, 'Savings': 16.6868263, 'Inflation': 1.7433207569999998}
{'_id': ObjectId('60563389cf04529f82c655b9'), 'Country': 'United Kingdom', 'Happiness': 7.053999999999999, 'GDP': 42330.11754, 'Savings': 13.32963066, 'Inflation': 1.7381046009999999}
{'_id': ObjectId('60563389cf04529f82c655ba'), 'Country': 'Ireland', 'Happiness': 7.021, 'GDP': 78660.95646, 'Savings': 35.92976805, 'Inflation': 0.9390444809999999}
{'_id': ObjectId('60563389cf04529f82c655bb'), 'Country': 'Germany', 'Happiness': 6.985, 'GDP': 46445.2491, 'Savings': 28.52241787, 'Inflation': 1.445667015}
{'_id': ObjectId('60563389cf04529f82c655bc'), 'Country': 'Belgium', 'Happiness': 6.922999999999999, 'GDP': 46420.66377, 'Savings': 25.29884613, 'Inflation': 1.43681957}
{'_id': ObjectId('60563389cf04529f82c655bd'), 'Country': 'United States', 'Happiness': 6.892, 'GDP': 65297.51751000001, 'Savings': 18.71229697, 'Inflation': 1.812210075}
{'_id': ObjectId('60563389cf04529f82c655be'), 'Country': 'Czech Republic', 'Happiness': 6.852, 'GDP': 23494.5962, 'Savings': 26.21744458, 'Inflation': 2.8478759589999996}
{'_id': ObjectId('60563389cf04529f82c655bf'), 'Country': 'United Arab Emirates', 'Happiness': 6.825, 'GDP': 43103.32306, 'Savings': nan, 'Inflation': -1.931081148}
{'_id': ObjectId('60563389cf04529f82c655c0'), 'Country': 'Malta', 'Happiness': 6.726, 'GDP': 29820.60325, 'Savings': 27.52530993, 'Inflation': 1.642060018}
{'_id': ObjectId('60563389cf04529f82c655c1'), 'Country': 'Mexico', 'Happiness': 6.595, 'GDP': 9946.033829, 'Savings': 23.69361456, 'Inflation': 3.635961421}
{'_id': ObjectId('60563389cf04529f82c655c2'), 'Country': 'France', 'Happiness': 6.5920000000000005, 'GDP': 40493.92857, 'Savings': 23.39519988, 'Inflation': 1.108254923}
{'_id': ObjectId('60563389cf04529f82c655c3'), 'Country': 'Taiwan', 'Happiness': 6.4460000000000015, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655c4'), 'Country': 'Chile', 'Happiness': 6.444, 'GDP': 14896.45387, 'Savings': 18.87340558, 'Inflation': 2.557544757}
{'_id': ObjectId('60563389cf04529f82c655c5'), 'Country': 'Guatemala', 'Happiness': 6.436, 'GDP': 4619.985258, 'Savings': 16.91219863, 'Inflation': 3.69998398}
{'_id': ObjectId('60563389cf04529f82c655c6'), 'Country': 'Saudi Arabia', 'Happiness': 6.375, 'GDP': 23139.79866, 'Savings': 33.57432538, 'Inflation': -2.093333333}
{'_id': ObjectId('60563389cf04529f82c655c7'), 'Country': 'Qatar', 'Happiness': 6.374, 'GDP': 62088.06183, 'Savings': 45.00292882, 'Inflation': -0.666641125}
{'_id': ObjectId('60563389cf04529f82c655c8'), 'Country': 'Spain', 'Happiness': 6.354, 'GDP': 29600.37825, 'Savings': 22.91076676, 'Inflation': 0.699536242}
{'_id': ObjectId('60563389cf04529f82c655c9'), 'Country': 'Panama', 'Happiness': 6.3210000000000015, 'GDP': 15731.01603, 'Savings': 29.95146524, 'Inflation': -0.355083821}
{'_id': ObjectId('60563389cf04529f82c655ca'), 'Country': 'Brazil', 'Happiness': 6.3, 'GDP': 8717.186278, 'Savings': 12.19270051, 'Inflation': 3.732976212}
{'_id': ObjectId('60563389cf04529f82c655cb'), 'Country': 'Uruguay', 'Happiness': 6.2929999999999975, 'GDP': 16190.12696, 'Savings': 12.98625123, 'Inflation': 7.881988709}
{'_id': ObjectId('60563389cf04529f82c655cc'), 'Country': 'Singapore', 'Happiness': 6.2620000000000005, 'GDP': 65233.282439999995, 'Savings': 42.83411619, 'Inflation': 0.565260569}
{'_id': ObjectId('60563389cf04529f82c655cd'), 'Country': 'El Salvador', 'Happiness': 6.252999999999999, 'GDP': 4187.250031000001, 'Savings': 17.04115754, 'Inflation': 0.075324135}
{'_id': ObjectId('60563389cf04529f82c655ce'), 'Country': 'Italy', 'Happiness': 6.223, 'GDP': 33228.23668, 'Savings': 21.03943563, 'Inflation': 0.611246944}
{'_id': ObjectId('60563389cf04529f82c655cf'), 'Country': 'Bahrain', 'Happiness': 6.199, 'GDP': 23503.97713000001, 'Savings': nan, 'Inflation': 1.005820047}
{'_id': ObjectId('60563389cf04529f82c655d0'), 'Country': 'Slovakia', 'Happiness': 6.1979999999999995, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655d1'), 'Country': 'Trinidad & Tobago', 'Happiness': 6.192, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655d2'), 'Country': 'Poland', 'Happiness': 6.182, 'GDP': 15692.50703, 'Savings': 20.1333119, 'Inflation': 2.227478809}
{'_id': ObjectId('60563389cf04529f82c655d3'), 'Country': 'Uzbekistan', 'Happiness': 6.1739999999999995, 'GDP': 1724.841134, 'Savings': 40.10855852, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655d4'), 'Country': 'Lithuania', 'Happiness': 6.149, 'GDP': 19601.89083, 'Savings': 20.77531449, 'Inflation': 2.33450938}
{'_id': ObjectId('60563389cf04529f82c655d5'), 'Country': 'Colombia', 'Happiness': 6.125, 'GDP': 6428.676206, 'Savings': 15.734410999999998, 'Inflation': 3.5254927360000003}
{'_id': ObjectId('60563389cf04529f82c655d6'), 'Country': 'Slovenia', 'Happiness': 6.117999999999999, 'GDP': 25946.18219, 'Savings': 26.45465996, 'Inflation': 1.6305226080000002}
{'_id': ObjectId('60563389cf04529f82c655d7'), 'Country': 'Nicaragua', 'Happiness': 6.105, 'GDP': 1912.9037449999998, 'Savings': 22.58801394, 'Inflation': 5.3762899079999995}
{'_id': ObjectId('60563389cf04529f82c655d8'), 'Country': 'Kosovo', 'Happiness': 6.1, 'GDP': 4417.5240619999995, 'Savings': 24.350194600000002, 'Inflation': 2.675992026}
{'_id': ObjectId('60563389cf04529f82c655d9'), 'Country': 'Argentina', 'Happiness': 6.086, 'GDP': 9912.281809, 'Savings': 15.79636285, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655da'), 'Country': 'Romania', 'Happiness': 6.07, 'GDP': 12919.52964, 'Savings': 18.30746647, 'Inflation': 3.827854326}
{'_id': ObjectId('60563389cf04529f82c655db'), 'Country': 'Cyprus', 'Happiness': 6.046, 'GDP': 27858.371, 'Savings': 13.59477339, 'Inflation': 0.250370997}
{'_id': ObjectId('60563389cf04529f82c655dc'), 'Country': 'Ecuador', 'Happiness': 6.028, 'GDP': 6183.823825, 'Savings': 24.72535089, 'Inflation': 0.266012515}
{'_id': ObjectId('60563389cf04529f82c655dd'), 'Country': 'Kuwait', 'Happiness': 6.021, 'GDP': 32000.44847, 'Savings': nan, 'Inflation': 1.091848027}
{'_id': ObjectId('60563389cf04529f82c655de'), 'Country': 'Thailand', 'Happiness': 6.007999999999999, 'GDP': 7806.742211, 'Savings': 31.48617957, 'Inflation': 0.7067286009999999}
{'_id': ObjectId('60563389cf04529f82c655df'), 'Country': 'Latvia', 'Happiness': 5.94, 'GDP': 17828.894659999998, 'Savings': 21.73711558, 'Inflation': 2.811409201}
{'_id': ObjectId('60563389cf04529f82c655e0'), 'Country': 'South Korea', 'Happiness': 5.895, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655e1'), 'Country': 'Estonia', 'Happiness': 5.893, 'GDP': 23723.306109999998, 'Savings': 29.05284998, 'Inflation': 2.277259312}
{'_id': ObjectId('60563389cf04529f82c655e2'), 'Country': 'Jamaica', 'Happiness': 5.89, 'GDP': 5582.263778000001, 'Savings': nan, 'Inflation': 3.909646229}
{'_id': ObjectId('60563389cf04529f82c655e3'), 'Country': 'Mauritius', 'Happiness': 5.888, 'GDP': 11099.24028, 'Savings': 18.48212787, 'Inflation': 0.40565519}
{'_id': ObjectId('60563389cf04529f82c655e4'), 'Country': 'Japan', 'Happiness': 5.886, 'GDP': 40246.88013, 'Savings': nan, 'Inflation': 0.476973684}
{'_id': ObjectId('60563389cf04529f82c655e5'), 'Country': 'Honduras', 'Happiness': 5.86, 'GDP': 2574.912191, 'Savings': 22.02790843, 'Inflation': 4.365871598}
{'_id': ObjectId('60563389cf04529f82c655e6'), 'Country': 'Kazakhstan', 'Happiness': 5.809, 'GDP': 9812.390376000001, 'Savings': 26.57057017, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655e7'), 'Country': 'Bolivia', 'Happiness': 5.779, 'GDP': 3552.06876, 'Savings': 14.20259103, 'Inflation': 1.83954505}
{'_id': ObjectId('60563389cf04529f82c655e8'), 'Country': 'Hungary', 'Happiness': 5.757999999999999, 'GDP': 16731.821509999998, 'Savings': 27.83993609, 'Inflation': 3.338586354}
{'_id': ObjectId('60563389cf04529f82c655e9'), 'Country': 'Paraguay', 'Happiness': 5.742999999999999, 'GDP': 5414.799138, 'Savings': 21.25625553, 'Inflation': 2.757097276}
{'_id': ObjectId('60563389cf04529f82c655ea'), 'Country': 'Northern Cyprus', 'Happiness': 5.718, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655eb'), 'Country': 'Peru', 'Happiness': 5.697, 'GDP': 6977.695784000001, 'Savings': nan, 'Inflation': 2.137153426}
{'_id': ObjectId('60563389cf04529f82c655ec'), 'Country': 'Portugal', 'Happiness': 5.693, 'GDP': 23252.05852, 'Savings': 18.88878725, 'Inflation': 0.33817841}
{'_id': ObjectId('60563389cf04529f82c655ed'), 'Country': 'Pakistan', 'Happiness': 5.653, 'GDP': 1284.702041, 'Savings': 12.31839169, 'Inflation': 10.5783618}
{'_id': ObjectId('60563389cf04529f82c655ee'), 'Country': 'Russia', 'Happiness': 5.648, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655ef'), 'Country': 'Philippines', 'Happiness': 5.631, 'GDP': 3485.084218, 'Savings': 31.56215836, 'Inflation': 2.480278587}
{'_id': ObjectId('60563389cf04529f82c655f0'), 'Country': 'Serbia', 'Happiness': 5.603, 'GDP': 7411.836115999998, 'Savings': 18.17196724, 'Inflation': 1.849229845}
{'_id': ObjectId('60563389cf04529f82c655f1'), 'Country': 'Moldova', 'Happiness': 5.529, 'GDP': 4503.516985, 'Savings': 16.79501556, 'Inflation': 4.837783514}
{'_id': ObjectId('60563389cf04529f82c655f2'), 'Country': 'Libya', 'Happiness': 5.525, 'GDP': 7685.949267, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655f3'), 'Country': 'Montenegro', 'Happiness': 5.523, 'GDP': 8908.934792, 'Savings': 16.90337509, 'Inflation': 0.361563705}
{'_id': ObjectId('60563389cf04529f82c655f4'), 'Country': 'Tajikistan', 'Happiness': 5.4670000000000005, 'GDP': 870.7875892999997, 'Savings': nan, 'Inflation': 0.20574433399999997}
{'_id': ObjectId('60563389cf04529f82c655f5'), 'Country': 'Croatia', 'Happiness': 5.432, 'GDP': 14936.10055, 'Savings': 25.33647474, 'Inflation': 0.7718203459999999}
{'_id': ObjectId('60563389cf04529f82c655f6'), 'Country': 'Hong Kong', 'Happiness': 5.43, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c655f7'), 'Country': 'Dominican Republic', 'Happiness': 5.425, 'GDP': 8282.116359, 'Savings': 23.84180478, 'Inflation': 1.81060377}
{'_id': ObjectId('60563389cf04529f82c655f8'), 'Country': 'Bosnia and Herzegovina', 'Happiness': 5.386, 'GDP': 6108.510696, 'Savings': 16.631089199999998, 'Inflation': 0.562782154}
{'_id': ObjectId('60563389cf04529f82c655f9'), 'Country': 'Turkey', 'Happiness': 5.3729999999999976, 'GDP': 9126.561345999999, 'Savings': 26.04433567, 'Inflation': 15.17682157}
{'_id': ObjectId('60563389cf04529f82c655fa'), 'Country': 'Malaysia', 'Happiness': 5.3389999999999995, 'GDP': 11414.206979999999, 'Savings': nan, 'Inflation': 0.662891866}
{'_id': ObjectId('60563389cf04529f82c655fb'), 'Country': 'Belarus', 'Happiness': 5.3229999999999995, 'GDP': 6663.295293, 'Savings': 27.75013815, 'Inflation': 5.59815595}
{'_id': ObjectId('60563389cf04529f82c655fc'), 'Country': 'Greece', 'Happiness': 5.287000000000001, 'GDP': 19582.53598, 'Savings': 9.88600945, 'Inflation': 0.25297804399999996}
{'_id': ObjectId('60563389cf04529f82c655fd'), 'Country': 'Mongolia', 'Happiness': 5.285, 'GDP': 4339.843279, 'Savings': 23.71700101, 'Inflation': 7.304815975}
{'_id': ObjectId('60563389cf04529f82c655fe'), 'Country': 'North Macedonia', 'Happiness': 5.274, 'GDP': 6022.216179, 'Savings': 31.36865974, 'Inflation': 0.766439573}
{'_id': ObjectId('60563389cf04529f82c655ff'), 'Country': 'Nigeria', 'Happiness': 5.265, 'GDP': 2229.8586960000002, 'Savings': 23.23505694, 'Inflation': 11.39679497}
{'_id': ObjectId('60563389cf04529f82c65600'), 'Country': 'Kyrgyzstan', 'Happiness': 5.261, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c65601'), 'Country': 'Turkmenistan', 'Happiness': 5.247000000000001, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c65602'), 'Country': 'Algeria', 'Happiness': 5.211, 'GDP': 3973.9640719999998, 'Savings': nan, 'Inflation': 1.9517682109999999}
{'_id': ObjectId('60563389cf04529f82c65603'), 'Country': 'Morocco', 'Happiness': 5.207999999999998, 'GDP': 3204.095003, 'Savings': 27.84820370000001, 'Inflation': 0.19606552100000002}
{'_id': ObjectId('60563389cf04529f82c65604'), 'Country': 'Azerbaijan', 'Happiness': 5.207999999999998, 'GDP': 4793.58702, 'Savings': 29.22482119, 'Inflation': 2.6105718280000003}
{'_id': ObjectId('60563389cf04529f82c65605'), 'Country': 'Lebanon', 'Happiness': 5.197, 'GDP': 7583.694722, 'Savings': -3.093585772, 'Inflation': 3.0053894939999997}
{'_id': ObjectId('60563389cf04529f82c65606'), 'Country': 'Indonesia', 'Happiness': 5.192, 'GDP': 4135.569263, 'Savings': 31.01218523, 'Inflation': 3.03058665}
{'_id': ObjectId('60563389cf04529f82c65607'), 'Country': 'China', 'Happiness': 5.191, 'GDP': 10261.67925, 'Savings': 44.17780032, 'Inflation': 2.899235799}
{'_id': ObjectId('60563389cf04529f82c65608'), 'Country': 'Vietnam', 'Happiness': 5.175, 'GDP': 2715.2760359999997, 'Savings': 23.10211841, 'Inflation': 2.795823675}
{'_id': ObjectId('60563389cf04529f82c65609'), 'Country': 'Bhutan', 'Happiness': 5.082, 'GDP': 3316.175714, 'Savings': 19.22352698, 'Inflation': 2.7258210430000003}
{'_id': ObjectId('60563389cf04529f82c6560a'), 'Country': 'Cameroon', 'Happiness': 5.044, 'GDP': 1507.450206, 'Savings': nan, 'Inflation': 2.452802141}
{'_id': ObjectId('60563389cf04529f82c6560b'), 'Country': 'Bulgaria', 'Happiness': 5.011, 'GDP': 9828.148515, 'Savings': 26.05621424, 'Inflation': 3.103729448}
{'_id': ObjectId('60563389cf04529f82c6560c'), 'Country': 'Ghana', 'Happiness': 4.996, 'GDP': 2202.1155670000007, 'Savings': nan, 'Inflation': 7.175922847000001}
{'_id': ObjectId('60563389cf04529f82c6560d'), 'Country': 'Ivory Coast', 'Happiness': 4.944, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('60563389cf04529f82c6560e'), 'Country': 'Nepal', 'Happiness': 4.913, 'GDP': 1071.050761, 'Savings': 48.94494931, 'Inflation': 5.568685478}
{'_id': ObjectId('6056338acf04529f82c6560f'), 'Country': 'Jordan', 'Happiness': 4.9060000000000015, 'GDP': 4405.488412, 'Savings': 15.82240467, 'Inflation': 0.761514047}
{'_id': ObjectId('6056338acf04529f82c65610'), 'Country': 'Benin', 'Happiness': 4.883, 'GDP': 1219.4326720000001, 'Savings': nan, 'Inflation': -0.915681573}
{'_id': ObjectId('6056338acf04529f82c65611'), 'Country': 'Congo (Brazzaville)', 'Happiness': 4.812, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('6056338acf04529f82c65612'), 'Country': 'Gabon', 'Happiness': 4.7989999999999995, 'GDP': 7767.013404, 'Savings': nan, 'Inflation': 2.464567562}
{'_id': ObjectId('6056338acf04529f82c65613'), 'Country': 'Laos', 'Happiness': 4.796, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('6056338acf04529f82c65614'), 'Country': 'South Africa', 'Happiness': 4.7219999999999995, 'GDP': 6001.400814, 'Savings': 14.94697557, 'Inflation': 4.124350725}
{'_id': ObjectId('6056338acf04529f82c65615'), 'Country': 'Albania', 'Happiness': 4.718999999999999, 'GDP': 5353.244856, 'Savings': 14.02051742, 'Inflation': 1.41109079}
{'_id': ObjectId('6056338acf04529f82c65616'), 'Country': 'Venezuela', 'Happiness': 4.707, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('6056338acf04529f82c65617'), 'Country': 'Cambodia', 'Happiness': 4.7, 'GDP': 1643.1213890000001, 'Savings': 27.18525728, 'Inflation': nan}
{'_id': ObjectId('6056338acf04529f82c65618'), 'Country': 'Palestinian Territories', 'Happiness': 4.6960000000000015, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('6056338acf04529f82c65619'), 'Country': 'Senegal', 'Happiness': 4.681, 'GDP': 1446.830965, 'Savings': nan, 'Inflation': 1.7585651759999998}
{'_id': ObjectId('6056338acf04529f82c6561a'), 'Country': 'Somalia', 'Happiness': 4.668, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('6056338acf04529f82c6561b'), 'Country': 'Namibia', 'Happiness': 4.638999999999999, 'GDP': 4957.458222, 'Savings': 8.642431517999999, 'Inflation': 3.722394144}
{'_id': ObjectId('6056338acf04529f82c6561c'), 'Country': 'Niger', 'Happiness': 4.628, 'GDP': 553.8950504, 'Savings': nan, 'Inflation': -2.489792651}
{'_id': ObjectId('6056338acf04529f82c6561d'), 'Country': 'Burkina Faso', 'Happiness': 4.587, 'GDP': 786.8956312999999, 'Savings': nan, 'Inflation': -3.23338934}
{'_id': ObjectId('6056338acf04529f82c6561e'), 'Country': 'Armenia', 'Happiness': 4.559, 'GDP': 4622.733493, 'Savings': 10.24148941, 'Inflation': 1.4434466080000001}
{'_id': ObjectId('6056338acf04529f82c6561f'), 'Country': 'Iran', 'Happiness': 4.548, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('6056338acf04529f82c65620'), 'Country': 'Guinea', 'Happiness': 4.534, 'GDP': 962.8399086000001, 'Savings': 4.284529419, 'Inflation': 9.470779373}
{'_id': ObjectId('6056338acf04529f82c65621'), 'Country': 'Georgia', 'Happiness': 4.519, 'GDP': 4697.704576, 'Savings': 22.03299074, 'Inflation': 4.852898217}
{'_id': ObjectId('6056338acf04529f82c65622'), 'Country': 'Gambia', 'Happiness': 4.516, 'GDP': nan, 'Savings': nan, 'Inflation': nan}
{'_id': ObjectId('6056338acf04529f82c65623'), 'Country': 'Kenya', 'Happiness': 4.5089999999999995, 'GDP': 1816.546916, 'Savings': 7.967856913999999, 'Inflation': nan}
{'_id': ObjectId('6056338acf04529f82c65624'), 'Country': 'Mauritania', 'Happiness': 4.49, 'GDP': 1679.4448730000001, 'Savings': 33.47988051, 'Inflation': 2.300092621}
{'_id': ObjectId('6056338acf04529f82c65625'), 'Country': 'Mozambique', 'Happiness': 4.466, 'GDP': 503.5707727, 'Savings': 17.80104326, 'Inflation': 2.781106312}
{'_id': ObjectId('6056338acf04529f82c65626'), 'Country': 'Tunisia', 'Happiness': 4.461, 'GDP': 3317.453593, 'Savings': 8.551045436, 'Inflation': 6.720075329}